body {
    background-color: #f6ecce;
    /* Süt rengi arka plan */
    margin: 0;
    /* Sayfanın kenar boşluklarını sıfırlayalım */
    padding: 0;
    /* Sayfanın iç boşluklarını sıfırlayalım */
    text-align: center;
    /* Sayfa genelinde içeriği ortalayalım */

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(196, 189, 127);
    padding: 10px 20px;
}

.navbar-left,
.navbar-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-left li,
.navbar-right li {
    padding: 0 20px;
}

.navbar a {
    color: rgb(7, 7, 7);
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.centered-title {
    text-align: center;
    margin-top: 60px;
    color: rgb(19, 57, 123);
}

.alt-title {
    text-align: center;
    margin-top: auto;
    color: rgb(19, 57, 123);
}

.yan-yana {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    font-size: 18px;
    gap: 465px;
    padding: 20px;

}

.yana-yana {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    font-size: 18px;
    gap: 500px;
    padding: 20px;

}

.cumle {
    color: antiquewhite;
}