<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/empty.css' %}">
  <title>EMPTY PAGE</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar">
    <ul class="navbar-left">
      <li><a href="{% url 'index' %}">CLASSCHECK</a></li>
      <li><a href="{% url 'empty' %}">ADMIN HOME PAGE</a></li>
      <li><a href="{% url 'home' %}">HOME</a></li>

    </ul>
    <ul class="navbar-right">
      <li><a href="{% url 'userlogout' %}">LOG OUT</a></li>
    </ul>
  </nav>

     
  <!--BAŞLIK-->
    <h1 class="welcome-title">WELCOME TO YOUR PAGE</h1>
   <h2 class="alt-title"> COURSES- 2025/2026 SPRİNG TERM</h2>
    <form action="{% url 'home' %}">
      <button type="submit" class="button">ADD COURSE </button>
    </form>
    <hr>
    <form action="{% url 'home' %}">
      <button type="submit" class="button">DELETE COURSE </button>
    </form>
    <hr>
    <form action="{% url 'home' %}">
      <button type="submit" class="button"> PROJECT </button>
    </form>

    

  
   

</body>

</html>