<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/empty.css' %}"> <!-- CSS dosyası buradan bağlanır -->
    <title>Document</title>
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <ul class="navbar-left">
      <li><a href="{% url 'index' %}">CLASSCHECK</a></li>
      <li><a href="{% url 'empty' %}">ADMIN HOME PAGE</a></li>
      <li><a href="{% url 'home' %}">HOME</a></li> <!-- URL'yi güncelle -->

    </ul>
    <ul class="navbar-right">
      <li><a href="{% url 'userlogout' %}">LOG OUT</a></li>
    </ul>
  </nav>

  <p> HOME PAGE </p>
</body>
</html>