<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link rel="stylesheet" href="{% static 'css/adstdt.css' %}">

</head>

<body>

    <h1>Add a Student</h1>

    <!-- Öğrenci ekleme formu -->
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Student Name" required>
        <input type="text" name="student_no" placeholder="Student Number" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit" name="add_student">Add Student</button>
    </form>

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

    <!-- Öğrenci Listesi -->
    <h2>Student List</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Student No</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ student.student_no }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <!-- Delete Button -->
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="student_id" value="{{ student.id }}">
                        <button type="submit" name="delete_student">Delete</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No students yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>