<!DOCTYPE html>

<html lang="en">

{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/tes.css' %}" />
  <title>DETAIL PAGE</title>
</head>

<body>

  <!-- Navbar -->

  <nav class="navbar">
    <ul class="navbar-left">
      <li><a href="{% url 'index' %}">CLASSCHECK</a></li>
      <li><a href="{% url 'empty' %}">ADMIN HOME PAGE</a></li>
      <li><a href="{% url 'home' %}">HOME</a></li>
    </ul>
    <ul class="navbar-right">
      <li><a href="{% url 'userlogout' %}">LOG OUT</a></li>
    </ul>
  </nav>

  <h1 class="centered-title">OPERATING SYSTEM COURSE TIMELINE</h1>
  <h2 class="alt-title"> ABOUT THE COURSE</h2>

  <div  class="yan-yana">
  <span class="sentence" > Course Code:  </span>
  <span class="sentence" > Wednesday 10:00-12:00 AM-F301 </span>
  </div>

<div  class="yana-yana">
  <span class="sentence1" >Grading:  </span>
  <span class="sentence2" > 1 Midterm Exam (%30) 1 Presentation (%20) 1 Final Exam (%40) Attendance (%10 Extra) </span>
  </div>

  <div class="button-container">
    <!-- ADD STUDENT Butonu -->
    <form action="{% url 'student' %}">
        <button type="submit" class="button">ADD STUDENT</button>
    </form>
    <!-- CREATE QR Butonu -->
    <form action="{% url 'qr' %}">
        <button type="submit" class="button">CREATE QR</button>
    </form>
</div>

<h1>Course List</h1>
<table>
  <thead>
    <tr>
      <th>Course Name</th>
      <th>Capacity</th>
      <th>Establishment Course</th>
      <th>Course Code</th>
      <th>Instructor</th>
    </tr>

  </thead>
  <tbody>
    {% for course in courses %}
    <tr>
      <td>
        {{ course.course_name }}
        <form action="{% url 'update' course.id %}" method="POST" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="update-button">Update</button>
        </form>
      </td>
      <td>{{ course.course_capacity }}</td>
      <td>{{ course.establishment_date }}</td>
      <td>{{ course.course_code }}</td>
      <td>{{ course.instructor }}</td>
    </tr>
    {% endfor %}
</tbody>

</table>

<form action="{% url 'update' course.id %}" method="POST" style="display:inline;">
  {% csrf_token %}
  <button type="submit" class="update-button">Update</button>
</form>

</body>
</html>

