<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <title>Delete Course</title>
  <link rel="stylesheet" href="{% static 'css/emptyd.css' %}">
</head>

<body>
  
   <h2>To delete a course, select it: </h2>

<form method="post" action="{% url 'deletecourse' %}">
  {% csrf_token %}
  <select name="course_id" required>
    {% for course in courses %}
      <option value="{{ course.id }}">{{ course.course_name }}</option>
    {% endfor %}
  </select>

  <button type="submit">DELETE</button>
</form>
  
</body>
</html>
 