body {
  background-color: #f6ecce;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 80px;
}

h2 {
  color: #0f63b7;
  font-size: 24px;
  margin-bottom: 30px;
  font-family: 'Times New Roman', Times, serif;
}

select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 250px;
}

button {
  padding: 10px 20px;
  background-color: #0f63b7;
  color: rgb(232, 238, 234);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
}

button:hover {
  background-color: #2b1a78;
}