table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th,
td {
    padding: 12px 18px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #004d99;
    color: white;
    font-size: 1.1em;
}

tr:nth-child(even) {
    background-color: #f2f7ff;
}

tr:hover {
    background-color: #cce0ff;
}